@model SlideCloud.Application.DTO.Slide.ListSlideDTO
@{
    Layout = "_Layout";
    ViewData["Title"] = "ListOfCategorySlide";
}
@if (!Model.Pagination.Items.Any())
{
    <section class="page-header">
        <div class="container rtl">
            <div class="page-header__content">
                <ul class="eduhive-breadcrumb list-unstyled">
                    <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="@Url.Action("Index","Home")">خانه</a></li>
                </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                <h2 class="page-header__title"> برای این دسته بندی مقاله ای منتشر نشده است .</h2>
               
            </div><!-- /.page-header__content -->
        </div><!-- /.container -->
        <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
        <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
        <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
        <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
    </section>
}
else
{
    <section class="page-header">
        <div class="container rtl">
            <div class="page-header__content">
                <ul class="eduhive-breadcrumb list-unstyled">
                    <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="@Url.Action("Index","Home")">خانه</a></li>
                    <li><span>دسته بندی ها : </span></li>
                </ul><!-- /.eduhive-breadcrumb list-unstyled -->
                @if (Model.Pagination.Items.Any())
                {
                    var firstItem = Model.Pagination.Items.First();
                    <h2 class="page-header__title">@firstItem.DocumentCategory.Name</h2>
                }
            </div><!-- /.page-header__content -->
        </div><!-- /.container -->
        <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
        <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
        <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
        <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
    </section>


    <section class="courses-page section-space">
        <div class="container">
            <div class="row gutter-y-30">
                @foreach (var item in Model.Pagination.Items)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="course-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <div class="course-card__image">
                                <img src="@item.Picture" alt="WordPress for Everyone: Unlock Your Creativity Online">

                            </div><!-- /.course-card__image -->
                            <div class="course-card__content rtl">
                                <div class="course-card__content__top">
                                    <div class="course-card__category">@item.DocumentCategory.Name</div><!-- /.course-card__category -->
                                    <div class="course-card__duration">
                                        <span class="course-card__duration__icon">
                                            <i class="icon-clock"></i>
                                        </span><!-- /.course-card__duration__icon -->
                                        تایم مطالعه : 4 دقیقه
                                    </div><!-- /.course-card__duration -->
                                </div><!-- /.course-card__content__top -->
                                <h3 class="course-card__title"><a href="@Url.ActionLink("Detail","Slide" ,new {id=item.Id})">@item.Title</a></h3><!-- /.course-card__title -->
                                <div class="course-card__info">
                                    <div class="course-card__lessons">
                                        <span class="course-card__lessons__icon">
                                            <i class="icon-open-book"></i>
                                        </span><!-- /.course-card__lessons__icon -->
                                        خوانده شده : 25 نفر
                                    </div><!-- /.course-card__lessons -->
                                    <div class="course-card__students">
                                        <span class="course-card__students__icon">
                                            <i class="icon-multiple-users-silhouette"></i>
                                        </span><!-- /.course-card__lessons__icon -->
                                        مورد علاقه 150 نفر
                                    </div><!-- /.course-card__students -->
                                </div><!-- /.course-card__info -->

                            </div><!-- /.course-card__content -->
                            <div class="course-card__hover" style="background-image: url(~/assets/images/shapes/course-card-bg-1-1.png);">
                                <div class="course-card__hover__content rtl">
                                    <div class="course-card__content__top course-card__content__top--hover">
                                        <div class="course-card__category">@item.DocumentCategory.Name</div><!-- /.course-card__category -->
                                        <div class="course-card__duration">
                                            <span class="course-card__duration__icon">
                                                <i class="icon-clock"></i>
                                            </span><!-- /.course-card__duration__icon -->
                                            تایم مطالعه : 4 دقیقه
                                        </div><!-- /.course-card__duration -->
                                    </div><!-- /.course-card__content__top -->
                                    <h3 class="course-card__title course-card__title--hover"><a href="wordpress-development.html">@item.Title</a></h3><!-- /.course-card__title -->
                                    @if (item != null && item.User != null)
                                    {
                                        <p class="course-card__text"> منتشر شده توسط : @item.User.Name</p>
                                    }
                                    else
                                    {
                                        <p class="course-card__text"> منتشر کننده مشخص نیست. </p>
                                    }

                                    <a href="@Url.ActionLink("Detail","Slide" ,new {id=item.Id})" class="course-card__btn eduhive-btn eduhive-btn--border">
                                        <span>خواندن مقاله </span>
                                        <span class="eduhive-btn__icon">
                                            <span class="eduhive-btn__icon__inner"><i class="icon-left-arrow"></i></span>
                                        </span>
                                    </a><!-- /.course-card__btn eduhive-btn -->
                                    <div class="course-card__info course-card__info--hover">
                                        <div class="course-card__lessons">
                                            <span class="course-card__lessons__icon">
                                                <i class="icon-open-book"></i>
                                            </span><!-- /.course-card__lessons__icon -->
                                            خوانده شده : 25 نفر
                                        </div><!-- /.course-card__lessons -->
                                        <div class="course-card__students">
                                            <span class="course-card__students__icon">
                                                <i class="icon-multiple-users-silhouette"></i>
                                            </span><!-- /.course-card__lessons__icon -->
                                            مورد علاقه 150 نفر
                                        </div><!-- /.course-card__students -->
                                    </div><!-- /.course-card__info -->
                                </div><!-- /.course-card__hover__content -->
                            </div><!-- /.course-card__hover -->
                        </div><!-- /.course-card -->
                    </div>

                    <!-- /.col-md-6 col-lg-4 -->
                }
                <div class="col-lg-12">
                    <ul class="post-pagination">
                        @if (Model.Pagination.HasPreviousPage)
                        {
                            <li>
                                <a asp-controller="Slide" asp-action="Index" asp-route-pageIndex="@(Model.Pagination.PageIndex - 1)" class="btn btn-primary">
                                    قبل
                                    <span class="post-pagination__icon">
                                        <i class="icon-left-arrow"></i>
                                    </span>
                                </a>
                            </li>

                        }
                        @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                        {
                            <li>
                                <a asp-controller="Slide" asp-action="Index" asp-route-pageIndex="@i" class="btn @(i == Model.Pagination.PageIndex ? "btn-success" : "btn-secondary")">@i</a>
                            </li>

                        }

                        @if (Model.Pagination.HasNextPage)
                        {
                            <li class="active">
                                <a asp-controller="Slide" asp-action="Index" asp-route-pageIndex="@(Model.Pagination.PageIndex + 1)" class="btn btn-primary">بعد><span class="post-pagination__icon"><i class="icon-right-arrow"></i></span></a>
                            </li>

                        }


                    </ul><!-- /.post-pagination -->
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- /.courses-page section-space -->
}

