

@model SlideCloud.Areas.User.Models.Slides.DetailsSlideVM

@{
    Layout = "_Layout";
}


<section class="page-header">
    <div class="container rtl">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">خانه</a></li>
                <li><span>اسلاید</span></li>
                <li><span>@Model.DocumentDetail.Title</span></li>
            </ul><!-- /.eduhive-breadcrumb list-unstyled -->
            <h2 class="page-header__title">@Model.DocumentDetail.Title</h2>
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
    <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
    <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
    <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section>


<section class="product-details section-space">
    <div class="container rtl">
        <!-- /.product-details -->
        <div class="row gutter-y-50">
            <div class="col-lg-6 col-xl-6 col-md-9 wow fadeInLeft animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInLeft;">
                <div class="product-details__image">
                    <img src="@Model.DocumentDetail.Picture" alt="product details">
                </div><!-- /.product-details__image -->
            </div><!-- /.column -->
            <div class="col-lg-6 col-xl-6 wow fadeInRight animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInRight;">
                <div class="product-details__content">
                    <div class="product-details__top">
                        <h3 class="product-details__name">@Model.DocumentDetail.Title</h3><!-- /.product-title -->
                        <h4 class="product-details__price">دسته بندی : @Model.DocumentDetail.DocumentCategory.Name</h4><!-- /.product-price -->
                    </div>
                    <div class="product-details__review">
 @*                        <div class="eduhive-ratings">
                            <span class="eduhive-ratings__icon">
                                <i class="fa fa-star"></i>
                            </span><!-- /.eduhive-ratings__icon -->
                            <span class="eduhive-ratings__icon">
                                <i class="fa fa-star"></i>
                            </span><!-- /.eduhive-ratings__icon -->
                            <span class="eduhive-ratings__icon">
                                <i class="fa fa-star"></i>
                            </span><!-- /.eduhive-ratings__icon -->
                            <span class="eduhive-ratings__icon">
                                <i class="fa fa-star"></i>
                            </span><!-- /.eduhive-ratings__icon -->
                            <span class="eduhive-ratings__icon">
                                <i class="fa fa-star"></i>
                            </span><!-- /.eduhive-ratings__icon -->
                        </div><!-- /.product-ratings --> *@
                      @*   <a href="product-details.html">(3 نظرات مشتریان)</a> *@
                    </div><!-- /.review-ratings -->
                    <div class="product-details__excerpt">
                        <p class="product-details__excerpt__text">@Model.DocumentDetail.Description</p>
                    </div><!-- /.excerp-text -->
@*                     <div class="product-details__quantity">
                        <h3 class="product-details__quantity__title">تعداد</h3>
                        <div class="quantity-box">
                            <button type="button" class="sub"><i class="fa fa-minus"></i></button>
                            <input type="text" id="1" value="1">
                            <button type="button" class="add"><i class="fa fa-plus"></i></button>
                        </div>
                    </div> 
                    *@<!-- /.quantity -->
                   <div class="product-details__buttons">
                        <a href="@Model.DocumentDetail.File" class="product-details__btn-1 eduhive-btn">
                            <span class="eduhive-btn__text">دانلود کنید</span>
                            <span class="eduhive-btn__icon">
                                <span class="eduhive-btn__icon__inner"><i class="fa fa-file-download"></i></span>
                            </span><!-- /.eduhive-btn__icon -->
                        </a><!-- /.eduhive-btn -->
                        <a href="#" class="product-details__btn-2 eduhive-btn eduhive-btn--black"><span>افزودن به لیست علاقه مندی ها</span></a>
                    </div><!-- /.qty-btn -->
                    <div class="product-details__socials">
                        <h3 class="product-details__socials__title">با دوستان به اشتراک گذاشتن</h3>
                        <div class="social-links-two">
                            <a href="https://facebook.com/">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">فیسبوک</span>
                            </a>
                            <a href="https://twitter.com/">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">توییتر</span>
                            </a>
                            <a href="https://instagram.com/">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">اینستاگرام</span>
                            </a>
                            <a href="https://youtube.com/">
                                <span class="social-links-two__icon">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </span><!-- /.social-links-two__icon -->
                                <span class="sr-only">یوتوب</span>
                            </a>
                        </div><!-- /.social-links-two -->
                    </div><!-- /.product-details__socials -->
                </div>
            </div>
        </div>
        <!-- /.product-details -->
    </div>
    <div class="product-details__description-wrapper">
        <div class="container rtl">
            <!-- /.product-description -->
            <div class="product-details__description">
                <h3 class="product-details__description__title">توضیحات اسلاید</h3>
                <div class="product-details__text__box wow fadeInUp animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                    <p class="product-details__description__text">@Model.DocumentDetail.Description</p>
                </div><!-- /.product-details__text__box -->
            </div>
            <!-- /.product-description -->
        </div><!-- /.container -->
    </div><!-- /.product-details__description__wrapper -->

    <div class="container rtl">
        <!-- /.product-comment -->
      @*   <div class="comments-one product-details__comment">
            <h3 class="comments-one__title">02 بررسی ها, صندلی غذاخوری چوب جامد</h3><!-- /.comments-one__title -->
            <ul class="list-unstyled comments-one__list">
                <li class="comments-one__card wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 100ms; animation-name: none;">
                    <div class="comments-one__card__image">
                        <img src="@Model.DocumentDetail.Picture" alt="Kevin martin">
                    </div><!-- /.comments-one__card__image -->
                    <div class="comments-one__card__content">
                        <div class="comments-one__card__top">
                            <div class="comments-one__card__info">
                                <h3 class="comments-one__card__title">آصف هاشمی</h3><!-- /.comments-one__card__title -->
                                <p class="comments-one__card__date">20 مارس 2023 در 2:37 ب.ظ</p><!-- / -->
                            </div><!-- /.comments-one__card__info -->
                            <div class="eduhive-ratings">
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                            </div><!-- /.product-ratings -->
                        </div><!-- /.comments-one__card__top -->
                        <p class="comments-one__card__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p><!-- /.comments-one__card__text -->
                    </div><!-- /.comments-one__card__content -->
                </li><!-- /.comments-one__card -->
                <li class="comments-one__card wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 100ms; animation-name: none;">
                    <div class="comments-one__card__image">
                        <img src="~/assets/images/products/product-c-1-2.png" alt="Sarah albert">
                    </div><!-- /.comments-one__card__image -->
                    <div class="comments-one__card__content">
                        <div class="comments-one__card__top">
                            <div class="comments-one__card__info">
                                <h3 class="comments-one__card__title">آناهیتا دلپذیر</h3><!-- /.comments-one__card__title -->
                                <p class="comments-one__card__date">10 ژوئن 2023 ساعت 10:00 صبح</p><!-- / -->
                            </div><!-- /.comments-one__card__info -->
                            <div class="eduhive-ratings">
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                                <span class="eduhive-ratings__icon">
                                    <i class="fa fa-star"></i>
                                </span><!-- /.eduhive-ratings__icon -->
                            </div><!-- /.product-ratings -->
                        </div><!-- /.comments-one__card__top -->
                        <p class="comments-one__card__text">جابجایی تیرک‌های دروازه متاسفم که سه‌گانه بی‌صدا بودم، پس اگر برای این موقعیت استخدام می‌شوید، چه چیزی را به‌نظر می‌آورید. درک بهتر استفاده می تواند در اولویت بندی تلاش های آینده پنجره فرصت سازی کمک کند</p><!-- /.comments-one__card__text -->
                    </div><!-- /.comments-one__card__content -->
                </li><!-- /.comments-one__card -->
            </ul><!-- /.list-unstyled comments-one__list -->
        </div><!-- /.comments-one --> *@
        <!-- /.product-comment -->
    </div><!-- /.container -->
@* 
    <div class="container rtl">
        <!-- /.product-comment-form -->
        <div class="product-details__comments-form comments-form">
            <div class="product-details__comments-form__top">
                <h3 class="product-details__comments-form__title comments-form__title">
                    یک بررسی اضافه کنید
                </h3><!-- /.comments-form__title -->
                <p class="product-details__comments-form__text">
                    آدرس ایمیل شما منتشر نخواهد شد. ضرورت
                    فیلدها مشخص شده اند *
                </p>
                <div class="product-details__comments-form__ratings">
                    <h5 class="product-details__comments-form__ratings__text">به این محصول امتیاز دهید؟ *</h5>
                    <div class="eduhive-ratings">
                        <span class="eduhive-ratings__icon">
                            <i class="fa fa-star"></i>
                        </span><!-- /.eduhive-ratings__icon -->
                        <span class="eduhive-ratings__icon">
                            <i class="fa fa-star"></i>
                        </span><!-- /.eduhive-ratings__icon -->
                        <span class="eduhive-ratings__icon">
                            <i class="fa fa-star"></i>
                        </span><!-- /.eduhive-ratings__icon -->
                        <span class="eduhive-ratings__icon">
                            <i class="fa fa-star"></i>
                        </span><!-- /.eduhive-ratings__icon -->
                        <span class="eduhive-ratings__icon">
                            <i class="fa fa-star"></i>
                        </span><!-- /.eduhive-ratings__icon -->
                    </div><!-- /.product-ratings -->
                </div><!-- /.product-details__comments-form__ratings -->
            </div><!-- /.product-details__comments-form__top -->
            <form action="https://pixydrops.com/eduhive-html/assets/inc/sendemail.php" class="comments-form__form contact-form-validated form-one">
                <div class="form-one__group">
                    <div class="form-one__control wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 0ms; animation-name: none;">
                        <input type="text" name="name" placeholder="اسم شما">
                    </div><!-- /.form-one__control -->
                    <div class="form-one__control wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="50ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 50ms; animation-name: none;">
                        <input type="email" name="email" placeholder="ایمیل شما">
                    </div><!-- /.form-one__control -->
                    <div class="form-one__control form-one__control--full wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 100ms; animation-name: none;">
                        <textarea name="message" placeholder="پیام بنویس."></textarea>
                    </div><!-- /.form-one__control -->
                    <div class="form-one__control form-one__control--full wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="150ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 150ms; animation-name: none;">
                        <button type="submit" class="comments-form__btn eduhive-btn eduhive-btn--normal">
                            <span>
                                پست
                                نظر
                            </span>
                        </button><!-- /.eduhive-btn -->
                    </div><!-- /.form-one__control -->
                </div><!-- /.form-one__group -->
            </form><!-- /.comments-form__form -->
            <div class="result"></div><!-- /.result -->
        </div><!-- /.comments-form -->
        <!-- /.product-comment-form -->
    </div><!-- /.container --> *@
</section>