@using SlideCloud.Domain.Entities
@model IEnumerable<Document>
@{
    Layout = "_layout";
    ViewData["Title"] = "List of Slides";
}
<section class="page-header">
    <div class="container rtl">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">خانه</a></li>
                <li><span> اسلاید ها</span></li>
            </ul><!-- /.eduhive-breadcrumb list-unstyled -->
            <h2 class="page-header__title">لیست اسلاید ها</h2>
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
    <img src="/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
    <img src="/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
    <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section><!-- /.page-header -->
<section class="product-page section-space-bottom">
    <div class="container">
        <div class="row gutter-y-60">
            <div class="d-flex justify-content-center">
                <a asp-action="Create" class="btn btn-lg text-center  btn-outline-success">ایجاد اسلاید جدید </a>

            </div>
            <div class="col-xl-12 col-lg-8">
                <div class="product__info-top rtl">
                    <div class="product__showing-text-box">
                        <p class="product__showing-text">نمایش 1–9 از @Model.Count() نتیجه</p>
                    </div>
                    <div class="product__showing-sort">
                        <select class="selectpicker" aria-label="Sort by popular">
                            <option selected>کوتاه کردن پیش فرض</option>
                            <option value="1">مرتب سازی بر اساس نمای</option>
                            <option value="2">مرتب سازی بر اساس قیمت</option>
                            <option value="3"> بر اساس رتبه بندی</option>
                        </select>
                    </div>
                </div>

                <div class="row gutter-y-30">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>File</th>
                                <th>Picture</th>
                                <th>View Count</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td><a href="@item.File">دریافت فایل</a> </td>
                                    <td><img src="@item.Picture" class="img-fluid img-thumbnail" style="max-height:150px;" /></td>
                                    <td>@item.ViewCount</td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div><!-- /.row -->
            </div><!-- /.col-xl-9 col-lg-8 -->
       
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.product-page section-space-bottom -->