@model SlideCloud.Areas.User.Models.Slides.ListSlideVM
@{
	Layout = "_layout";
}
<section class="page-header">
	<div class="container rtl">
		<div class="page-header__content">
			<ul class="eduhive-breadcrumb list-unstyled">
				<li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="index.html">خانه</a></li>
				<li><span> اسلاید ها</span></li>
			</ul><!-- /.eduhive-breadcrumb list-unstyled -->
			<h2 class="page-header__title">لیست اسلاید ها</h2>
		</div><!-- /.page-header__content -->
	</div><!-- /.container -->
	<img src="/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
	<img src="/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
	<div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
	<div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section><!-- /.page-header -->
<section class="product-page section-space-bottom">
	<div class="container">
		<div class="row gutter-y-60">
			<div class="col-xl-9 col-lg-8">
				<div class="product__info-top rtl">
					<div class="product__showing-text-box">
						<p class="product__showing-text">نمایش 1–9 از 12 نتیجه</p>
					</div>
					<div class="product__showing-sort">
						<select class="selectpicker" aria-label="Sort by popular">
							<option selected>کوتاه کردن پیش فرض</option>
							<option value="1">مرتب سازی بر اساس نمای</option>
							<option value="2">مرتب سازی بر اساس قیمت</option>
							<option value="3"> بر اساس رتبه بندی</option>
						</select>
					</div>
				</div>

				<div class="row gutter-y-30">

					@foreach (var document in Model.Documents)
					{

						<div class="col-xl-4 col-sm-6">
							<div class="product__item wow fadeInUp rtl" data-wow-duration='1500ms' data-wow-delay='000ms'>
								<div class="product__item__image">
									<img src="@document.Picture" alt="Dining Chair">
								</div><!-- /.product-image -->
								<div class="product__item__content">
									<div class="eduhive-ratings">
										<span class="eduhive-ratings__icon">
											<i class="fa fa-star"></i>
										</span><!-- /.eduhive-ratings__icon -->
										<span class="eduhive-ratings__icon">
											<i class="fa fa-star"></i>
										</span><!-- /.eduhive-ratings__icon -->
										<span class="eduhive-ratings__icon">
											<i class="fa fa-star"></i>
										</span><!-- /.eduhive-ratings__icon -->
										<span class="eduhive-ratings__icon">
											<i class="fa fa-star"></i>
										</span><!-- /.eduhive-ratings__icon -->
										<span class="eduhive-ratings__icon">
											<i class="fa fa-star"></i>
										</span><!-- /.eduhive-ratings__icon -->
									</div><!-- /.product-ratings -->
									<h4 class="product__item__title">
										<a href="@Url.RouteUrl("DetailsSlide",new {id=document.Id})">@document.Title</a>
									</h4><!-- /.product-title -->
									<div class="product__item__price">@document.Description </div>
									<!-- /.product-price -->
							@* 		<a href="@Url.RouteUrl("DetailsSlide",new {id=document.Id})" class="eduhive-btn">
										<span class="eduhive-btn__text">به سبد خرید اضافه کنید</span>
										<span class="eduhive-btn__icon">
											<span class="eduhive-btn__icon__inner"><i class="icon-cart"></i></span>
										</span><!-- /.eduhive-btn__icon -->
									</a> *@
									
									<!-- /.eduhive-btn -->
								</div><!-- /.product-content -->
							</div><!-- /.product-item -->
						</div>

						<!-- /.col-xl-4 col-sm-6 -->
					}
					<div class="col-lg-12">
						<ul class="post-pagination">
							<li>
								<a href="#"><span class="post-pagination__icon"><i class="icon-left-arrow"></i></span></a>
							</li>
							<li>
								<a href="#">03</a>
							</li>
							<li>
								<a href="#">02</a>
							</li>
							<li>
								<a href="#">01</a>
							</li>
							<li class="active">
								<a href="#"><span class="post-pagination__icon"><i class="icon-right-arrow"></i></span></a>
							</li>
						</ul><!-- /.post-pagination -->
					</div><!-- /.col-lg-12 -->
				</div><!-- /.row -->
			</div><!-- /.col-xl-9 col-lg-8 -->
			<div class="col-xl-3 col-lg-4">
				<aside class="product__sidebar rtl">
					<div class="product__search-box product__sidebar__item">
						<form action="#" class="product__search">
							<input type="text" placeholder="جستجوی موارد" />
							<button type="submit" aria-label="earch submit">
								<span class="icon-search"></span>
							</button>
						</form><!-- /.product__search -->
					</div><!-- /.search-widget -->
					<div class="product__price-ranger product__sidebar__item">
						<h3 class="product__sidebar__title">فیلتر بر اساس قیمت</h3>
						<form action="#" class="price-ranger">
							<div id="slider-range"></div>
							<div class="ranger-min-max-block">
								<input type="text" readonly class="min">
								<span>-</span>
								<input type="text" readonly class="max">
							</div>
						</form>
					</div><!-- /.price-slider -->
					<div class="product__categories product__sidebar__item">
						<h3 class="product__sidebar__title product__categories__title">دسته بندی ها</h3>
						<ul class="list-unstyled">

							@foreach (var category in Model.DocumentCategories)
							{
								<li>
									<a href="@Url.RouteUrl("DetailsCategory",new {id=$"{category.Id}"})">
										<span class="product-categories__icon"><i class="icon-left-arrow"></i></span>
										<!-- /.product-categories__icon --> @category.Name
									</a>
								</li>
							}
						</ul>
					</div><!-- /.category-widget -->
				</aside><!-- /.shop-sidebar -->
			</div><!-- /.col-xl-3 col-lg-4 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.product-page section-space-bottom -->