@using SlideCloud.Web.Extensions;
@model SlideCloud.Domain.Entities.Blog
@{
    ViewData["Title"] = "Delete Blog Post";
    Layout = "_Layout";
}
<section class="page-header">
    <div class="container rtl">
        <div class="page-header__content">
            <ul class="eduhive-breadcrumb list-unstyled">
                <li><span class="eduhive-breadcrumb__icon"><i class="icon-home"></i></span><a href="~/">خانه</a></li>
                <li><span><a href="~/blog"> وبلاگ ما</a></span></li>
                <li><span>حذف پست</span></li>
            </ul><!-- /.eduhive-breadcrumb list-unstyled -->
            <h2 class="page-header__title">@Model.Title</h2>
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
    <img src="~/assets/images/shapes/page-header-shape-1.png" alt="shape" class="page-header__shape-one">
    <img src="~/assets/images/shapes/page-header-shape-2.png" alt="shape" class="page-header__shape-two">
    <div class="page-header__shape-three"></div><!-- /.page-header__shape-three -->
    <div class="page-header__shape-four"></div><!-- /.page-header__shape-four -->
</section><!-- /.page-header -->
<div class="container mt-4 rtl">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Delete Blog Post</h1>

            <div class="alert alert-danger">
                <h4>از حذف کردن این پست مطمئنید؟</h4>
                <p>برگشت نداره ها!</p>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Summary</p>
                    <p class="card-text">
                        <small class="text-muted">
                            ساخته شده در:  @Model.CreatedAt.ToPersianDate()
                            @if (Model.IsPublished)
                            {
                                <span>| منتشر شده در: @Model.PublishedAt?.ToPersianDate()</span>
                            }
                        </small>
                    </p>
                </div>
            </div>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">حذف</button>
                <a asp-action="MyBlogs" class="btn btn-secondary ms-2">انصراف</a>
            </form>
        </div>
    </div>
</div> 